@import "tailwindcss";

:root {
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}
/* Your custom styles here */
@theme {
  /* Custom theme configuration (optional) */
  --color-primary: #0ea5e9;
  --color-secondary: #22c55e;
  
}
